/*

名稱: 巴哈姆特之夜
作者: 好冷酒 (hollen9)
更新: 2016/02/08
始於: 2016/02/06

*/

@namespace url(http://www.w3.org/1999/xhtml);
@keyframes fadeIn { from { opacity: 0; filter: blur(3px);-webkit-filter: blur(3px);} to { opacity:1; filter: blur(0px); -webkit-filter: blur(0px);} }
@keyframes PaintColor { from { filter: grayscale(100%);-webkit-filter: grayscale(100%);} to { filter: grayscale(0%); -webkit-filter: grayscale(0%);} }

@-moz-document domain("gc.bahamut.com.tw") {
    body {
        background-color: #36393E;
    }
}

@-moz-document domain("gamer.com.tw") {
    #BH-footer::after {
        visibility: visible;
        content: "\A\A BahaRevisualization: Dark v0.1\A Created by Hollen9 (好冷酒)\A　";
        white-space: pre;
        cursor: default;
    }
    
    @-moz-document domain("forum.gamer.com.tw") {
        /* 討論區重新分配寬度 (這邊沒有格式設定，只有長寬、留白、邊長等) */
        #BH-slave {
            width: 147px;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            /*右邊框框留白*/
            padding-left: 3px;
            padding-right: 3px;
        }

        #BH-master {
            width: 850px;
            padding-left: 3px;
            /*background-color: #36393E;*/
        }

        .FM-abox2A {
            width: 400px;
        } /*這個是分類版的 熱門推薦_文章預覽小框框*/
        .FM-abox2A p {
            width: 270px;/*<=280*/
        }
    }
    
    /* 隱藏廣告 */
    #flySalve, #BH-bigbanner, #BH-footer iframe {
        visibility: hidden;
        position: absolute;
        top: -800px;
        left: 0px;
    }
    /***************/
    /** 暗色系開始 **/
    /***************/
    
    /*基本共同設定*/
    
    body {
        background-image: url("http://www.nwaction.com/metroalbum/images/bg1.jpg");
        background-color: #1E2124;
        font-family:"Noto Sans CJK TC DemiLight",sans-serif;
        color: #C0C1C2;
        
    }
    a:hover {
        color: #A6DBFF;
        text-decoration: underline;
    }
    a:link, a:visited {
        color: #3BAFFF;
        text-decoration: none;
    }
    
    input, select, textarea {
        font-family:"Noto Sans CJK TC DemiLight",sans-serif;
    }
    
    Button {
        margin-right: 2px;
        overflow: hidden;
        white-space: nowrap;
        color:#ffffff;
        font-family:"Noto Sans CJK TC DemiLight",sans-serif;
        font-size:15px;
        font-weight: bold;
        font-style:normal;
        height:35px !important;
        min-width:86px;
        
        line-height:30px;
        text-decoration:none;
        text-align:center;
        text-shadow:1px 1px 0px #4d1c1c;
        -webkit-box-shadow:inset 0px 29px 15px -19px #d6966b;
        box-shadow:inset 0px 29px 15px -19px #d6966b;
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7878), color-stop(1, #fa2525) );
        background:-moz-linear-gradient( center top, #ff7878 5%, #fa2525 100% );
        /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7878', endColorstr='#fa2525');*/
        background-color:#ff7878;
        -webkit-border-top-left-radius:10px;
        border-top-left-radius:10px;
        -webkit-border-top-right-radius:10px;
        border-top-right-radius:10px;
        -webkit-border-bottom-right-radius:10px;
        border-bottom-right-radius:10px;
        -webkit-border-bottom-left-radius:10px;
        border-bottom-left-radius:10px;
        text-indent:0;
        border:1px solid #9c7535;
        display:inline-block;
    } Button:hover {
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fa2525), color-stop(1, #ff7878) );
        background:-moz-linear-gradient( center top, #fa2525 5%, #ff7878 100% );
        /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa2525', endColorstr='#ff7878');*/
        background-color:#fa2525;
    } Button:active {
        position:relative;
        top:1px;
    }

    
    #BH-wrapper {
        background-color: #2E3136;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
        border-radius: 0 0 20px 20px;
    }
    /* 首頁 */
    #BA-center-id {
        
    }
    
    .BA-topbg {
        filter: hue-rotate(180deg);
        -webkit-filter: hue-rotate(180deg);
    }
    /*filter: hue-rotate(180deg);
        -webkit-filter: hue-rotate(180deg);*/
    
    /* 置頂導覽列 */
    
    .TOP-bh, #BH-top-data, .TOP-data {
        background-image: none;
        background-color: #36393E;
        color: #FFFFF1;
    }
    
    .TOP-msg {
        font-size: 13px;
        width: 387px;
        position: absolute;
        right: -1px;
        top: 35px;
        background-color: #36393E;
        border: 15px solid #2E3136;
        border-top: none;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        word-break: break-all;
        word-wrap: break-word;
        z-index: 1000;
        /*animation*/
        opacity:0;  /* make things invisible upon start */        
        animation:fadeIn ease-in 1;
        animation-fill-mode:forwards;
        animation-duration:0.2s;
        animation-delay: 0s;
        border-radius: 15px;
    } /*上方跳出小窗*/
    
    .TOP-msg > span {/*子選單標題文字*/
        display: block;
        background-color: #2E3136;
        color: #FFFFFF;
        padding: 3px 30px 6px 0px;
        text-align: right;
        font-size: 15px;
        letter-spacing: 1px;
        font-family: "Noto Sans CJK TC", sans-serif;
        font-weight: bold;

    }
    
    .TOP-msgbtn {
        display: block;
        padding: 5px;
        text-align: center;
        border-top: 0px solid #e5e5e5;
        background-color: #2E3136;
    }
    .TOP-msgbtn a {
        color: #D9E7FF;
    }
    .TOP-msgbtn a:hover {
        color: #D9E7FF;
    }
    
    .TOP-btn a:hover {
        background-color: #282B30;
    }
    
    .TOP-my li a {
        display: block;
        border-left: 0px solid #282B30;
        width: 45px;
        height: 35px;
        position: relative;
    }
    
    .TOP-my li a:hover {
        background-color: #282B30;
        text-decoration: none;
    }
    
    .TOP-data .topb1, .TOP-data .topb2, .TOP-data .topb3 {   /* 通知鈕 */
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
    }
    
    .TOP-data .topbnow2 {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
    }
    
    .TOP-data .topbnow {
        background-color: #282B30;
        background-position: bottom;
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
    }
    
    
    /* 導覽列 > 子選單 */
    .TOP-msglist .new {
        background-color: #36393E;
        border-left: 5px solid #C00000;
        /*border-bottom: 5px solid #36393E;*/
        margin-bottom: 2px;
    }/*新通知*/
    
    .TOP-msglist div{
        background-color: #36393E;
        padding: 5px;
        border-top: 0px solid #e5e5e5;
        overflow: auto;
    }
    
    .TOP-msglist div:hover {
        background: linear-gradient(90deg,#2e3136 60%,#36393E);
    }
    
    .TOP-msglist .title a:link, .TOP-msglist .title a:visited {
        color: #E9E9E9;
        font-weight: bold;
        display: block;
        width: 100%;
        height: 30px;
    }
    
    .TOP-msglist a:link, .TOP-msglist a:visited {
        color: #66D9EF;
    }
    
    .TOP-msglist a:hover {
        color: #FFFFFF;
    }
     
    .TOP-board a:link, .TOP-board a:visited {
        display: inline-block;
        text-align: left;
        width: 180px;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        height: 20px;
        color: #66D9EF;
        padding: 5px 5px 5px 7px;
        background-image:none;
        margin-left: 5px;
    }
    
    .TOP-board a:hover {
        color: #FFFFFF;
        background: linear-gradient(90deg,#2e3136 60%,#36393E);
        text-decoration: none;
    }
    
    .TOP-more a:hover {
        color: #FFFFFF;
        background: linear-gradient(90deg,#2e3136 60%,#36393E);
        text-decoration: none;
    }
    
    .TOP-more p {
        display: block;
        background-color: #4E535C;
        color: #FFFFFF;
        padding: 3px 10px;
        border-top: 2px solid #2E3136;
    }
    
    .TOP-more li {
        display: block;
        border-bottom: 0px dotted #CCC;
        line-height: 30px;
    }
    
    /* 內文_次導覽列AKA子導覽列 */
    .FM-tags {
        /*filter: grayscale(100%);
        -webkit-filter: grayscale(100%);偷懶的東西*/
        border: 0px;
    } .FM-tags a {
        border-radius: 10px;
        margin-bottom: 4px;
        margin-right: 4px;
        padding-left: 5px;
        padding-right: 5px;
        border: 2px solid #232323;
        background: transparent;
        color: #E3C1C1;
    } .FM-tags a:hover {
        border: 2px solid #6A6F8B;
        background: none;
        color: #AFB7E6;
    } #FM-tagsnow {
        color: #D25C42;
        border-color: #D25C42;
    }
    
    ul.BH-menuE {
        list-style: none;
        display: block;
        background-color: #37363E;
        border-top: 0px solid #117E96;
        height: 40px;
        font-family: "Noto Sans CJK TC Bold", "Noto Sans CJK TC DemiLight", sans-serif;
        position: relative;
        z-index: 2;
        filter: hue-rotate(180deg);
        -webkit-filter: hue-rotate(180deg);
    }
    
    ul.BH-menuE li:first-child > a {
        background-color: #117E96;
        color: #464646;
        text-shadow: none;
        font-weight: bold;
        border: 0;
        color: #fff;
        height: 40px;
        z-index: 5;
        overflow: hidden;
        white-space: nowrap;
    }
    /*ul.BH-menuE li:first-child > a::before {
        content: "回";
        display: block;
        width: auto;
        height: 50%;
        還沒用好
    }*/
    
    /* 版務人員框框 MOD */
    .BH-rbox {
        background-color: transparent;
        border: 0px solid #e5e5e5;
        margin-bottom: 10px;
        overflow: hidden;
        padding: 8px;
    }
    
    .FM-rbox14-master {
        padding-bottom: 2px;
        font-size: 0;
        text-align: center;
        margin-bottom: 5px;
        border-bottom: 1px solid #9B9C9E;
        border-radius: 20px;
    }
    .FM-rbox14-master::before {
        text-align: center;
        content: url('http://i.imgur.com/vmWBU4D.png');
        padding-bottom: 3px;
        display: block;
    }
    
    .FM-rbox14 img {
        float: none;
        border: 0px solid #e5e5e5;
        margin-right: 1px;
    }
    
    .FM-rbox14-master a {
        visibility: visible;

    }
    
    .BH-rbox {
        color: #C1C1C1;
    }
    
    
    /* 文章區 */
    
    #BH-slave h5 {
        background-color: #1E2124;position: relative; top: 20px; border-radius: 10px;
    }
    
    #BH-master h4 {
        height: 30px;
        line-height: 30px;
        background-color: transparent;
        background-image: url(https://raw.githubusercontent.com/hollen9/GamerBahamutThemes/26bf3e7c65dd8aeaf3ffc0952be7d063b28b8f50/images/h1_img_pink.png);
        background-repeat: no-repeat;
        background-position: 20px;
        color: #F35A92;
        font-weight: bold;
        padding-left: 20px;
    }
    
    #BH-master h4 img {
        visibility: hidden;
    }
    
    .FM-atag1 {
        display: none;
    }
    
    .FM-atag1now{
        text-indent: 20px;
        text-align: left !important;;
        width: 200px;
        margin-left: 20px;
        margin-bottom: 5px;
        background-image: url(http://i2.bahamut.com.tw/gnn/now2.jpg);
        border: 0px solid transparent;
        border-radius: 13px;
        text-decoration: none;
        filter: hue-rotate(180deg);
        -webkit-filter: hue-rotate(180deg);
    }
    
    .FM-cbox2 > a {/*大勇造*/
        float: left;
        margin-right: 10px;
        border-radius: 0px;
        border: 3px double white;
        padding: 0px;
        background-color: transparent;
    }
    
    .FM-cbox10 textarea, .FM-reply textarea { /*留言、快速回覆*/
        /*display: flex;*/
        position: relative;
        padding: 8px 10px;
        border-radius: 3px;
        border: 2px solid #dadddf;
        box-sizing: border-box;
        height: 80px;
        border-color: hsla(0,0%,100%,.2);
        background-color: hsla(0,0%,100%,.06);
        color: #C6C7C9 !important;
    }
    
    .FM-reply {
        background-color: #36393E;
        border-color: transparent;
        border-radius: 20px;
        margin-bottom: 10px;
    }
    
    .FM-reply > .FM-replyC > a > img, .TOP-my li:nth-child(5) img, .FM-cbox10C img, .FM-rbox14-master img {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border-radius: 40px;
        /*裁切迷你大頭貼 成圓形的*/
    }
    
    .FM-cboxfold {
        padding: 7px 10px;
        /*background: url(http://i2.bahamut.com.tw/forum/FM-titlebg2.gif) repeat-x bottom;*/
        background-image: none;
        font-size: 13px;
        /*border-left: 1px solid #CCCCCC;
        border-right: 2px solid #CCCCCC;*/
        border-left: 20px solid #282B30;
        border-right: 0px solid #282B30;
        border-top: 1px solid #282B30;
        border-bottom: 1px solid #282B30;
        
        color: #999999;
        overflow: auto;
    }
    .BH-rbox {
        background-color: #36393E;
        border-radius: 20px;
        padding-top: 20px;
    }
    
    .BH-rbox a {/* 層級高於其他超連結設定*/
        color: #3498DB;
    }
    .BH-rbox a:hover {/* 層級高於其他超連結設定*/
        color: #3DB1FF;
    }
    
    .BH-lbox {/*進版*/
        background-color: #36393E;
        border: 0px solid #e5e5e5;
        margin-bottom: 10px;
        clear: both;
        overflow: auto;
        border-radius: 20px;
    }
    
    /* 推薦文章列表 */
    
    .FM-abox2 {
        border-radius: 20px;
    }
    
    .FM-abox2 a:hover {
        color: #A6DBFF;
    }
    
    .FM-abox2A {
        filter: grayscale(100%);-webkit-filter: grayscale(100%);
    }
    
    .FM-abox2A:hover {
        /*滑鼠移過變彩色*/
        animation:PaintColor ease-in 1;
        animation-fill-mode:forwards;
        /*animation-direction: normal;*/
        animation-duration:0.2s;
        animation-delay: 0s;
        border-radius: 15px;
        background-color: #51565D; 
    }
    
    .FM-abox2A > a:first-child {
        display: block;
        width: 120px;
        height: 120px;
        float: left;
        position: relative;
        background-color: transparent;
    }
    
    .FM-abox2B:link, .FM-abox2B:visited {
        color: #3BAFFF;
        display: block;
        border-bottom: 0px dotted #CCCCCC;
        margin-bottom: 0px;
        margin-left: 130px;
        height: 30px;
        line-height: 29px;
        vertical-align: middle;
        font-size: 15px;
    }
    
    .FM-abox2B:hover {
        color: #66C1FF !important;
        text-decoration: none;
        background: linear-gradient(90deg,#2e3136 60%,#36393E);
        border-radius: 5px;
    }
    
    .FM-abox5B a:link, .FM-abox5B a:visited {
        color: #66C1FF;
    }
    
    .FM-abox5B a:hover {
        color: #95D4FF;
    }
    
    .FM-abox6, .FM-abox7A {
        border-radius: 20px;
    }
    
    .FM-cbox1 {
        background-color: #36393E;
        border: 0px solid #CCCCCC;
        border-top-color: #5A9ACC;
        border-bottom-color: #5A9ACC;
    } /* DIV_CONTAINER */
    
    .FM-cbox2 {
        background-image: none;
        background-color: #36393E;
    }
    
    .FM-cbox3 {
        padding: 7px 10px;
        color: #FFFFFF;
        background-image: none;
        background-color: #2E3136;
        font-size: 13px;
        font-weight: bold;
        white-space: nowrap;
        border-top: 1px solid black;
    }
    
    .FM-cbox5 {
        color: #FFFFFF;
        font-size: 15px;
        font-weight: bold;
        padding: 8px 0 5px 0;
    }
    
    .FM-cbox5 > a:link, .FM-cbox5 > a:visited {
        color: #FFFFFF;
    }
    
    .FM-abox6B > a:link, .FM-abox6B > a:visited {
        color: #3BAFFF !important;
        display: block;
        height: 20px;
    }
    
    .FM-abox6B a:hover {
        color: #66C1FF !important;
        text-decoration: none;
        background: linear-gradient(90deg,#2e3136 60%,#36393E);
        border-radius: 5px;
    }
    
    .FM-cbox7 {
        background-color: #36393E;
        color: #C1C1C1;
    }
    
    .FM-cbox7 a:link, .FM-cbox7 a:visited{
        color: #0696CF;
    }
    
    FM-abox7A {
        color: #C0C1C2;
    }
    
    .FM-cbox8, .FM-cbox9, .FM-cbox10, FM-cbox11 {
        background-color: #36393E;
        background-image: none;
    }
    
    .FM-abox8 div {
        width: 90%;
        float: left;
        margin: 0 10px 10px 0;
    }
    
    .FM-abox8A /* 達人專欄 > 小框框 */ {
        display: block;
        background-color: transparent;
        border-bottom: 1px solid #B0B1B1;
        /*border: 0px double #B0B1B1; */
        padding: 3px;
        border-radius: 10px;
    }
    
    .FM-abox8A > a:link, .FM-abox8A > a:visited, .FM-abox8A > a:hover {
        color: red;
        background: transparent;
    }
    
    .FM-abox8A > span > a:link, .FM-abox8A > span > a:visited {
        color: #B32637;
        background: transparent;
    }
    
    .FM-abox8 a:hover {
        background: linear-gradient(90deg,#2e3136 60%,#36393E);
        text-decoration: none;
        border-radius: 15px;
    }
    
    .FM-abox8 div > a:link, .FM-abox8 div > a:visited {
        display: block;
        border-bottom: 0px dotted #CCCCCC;
        padding: 4px 0;
        white-space: nowrap;
        overflow: hidden;
    }
    
    .FM-cbox9 {
        padding: 2px 0px 5px 0px;
        margin: 0px;
        border-top: 1px solid #282B30;
        font-size: 12px;
        position: relative;
        min-height: 25px;
        width: 100%;
    }
    
    .FM-cbox10A {
        border: 0px;
        color: #C1C1C1;
    }
    
    .FM-cbox10D {/*顯示稍舊的 16 則留言*/
        display: block;
        text-align: center;
        padding: 3px 5px;
        background-color: transparent;
        border-top: 0px solid #e5e5e5;
        border-bottom: 0px solid #e5e5e5;
    }
    
    .FM-cbox10D > a {
        display: block;
        width: 100%;
        height: 30px;
        font-size: 18px;
        line-height: 30px;
        margin-left: 0px;
    }
    
    .FM-cbox10D > a:hover {
        text-decoration: none;
        background: linear-gradient(90deg,#2e3136 0%,#36393E 50%,#2e3136);
    }
    
    .FM-cbox11 {
        padding: 5px 0;
        border-top: 0px dotted #CCCCCC;
        margin: 0 10px;
        background-color: #36393E;
    }
    
    .FM-cbox11 iframe{
        width: 100%;
        border: 2px solid black;
        border-left: 0;
        border-right: 0;
        border-radius: 5px;
    }
    
    .FM-rbox15C {
        padding-bottom: 15px;
    }
    
    .FM-rbox15C a:hover {
        text-decoration: none;
        color: #FFFFFF;
        background-color: #999999;
    }
    .FM-rbox15C a {
        display: block;
        width: 25px;
        line-height: 25px;
        background-color: #484D55;
        border: 1px solid #CCC;
        border-radius: 3px;
        text-align: center;
    }
    
    .FM-rbox15C span {
        line-height: 27px;
        font-size: 15px;
        display: block;
        margin: 0 50px;
        width: 50px;
    }
    
    .FM-rbox16 {
        padding: 0px;
    }
    
    .FM-rbox16A {
        padding-top: 22px;
    }
    
    .FM-rbox16A > a {
        color: #FFFFFF;
        margin-bottom: 2px;
        white-space: nowrap;
    } .FM-rbox16A > a:hover {
        color: #FFFFFF;
        -webkit-filter: brightness(1.25); filter: brightness(1.25);
    } .FM-rbox16A > a:active {
        color: #FFFFFF;
        -webkit-filter: brightness(0.70); filter: brightness(0.70);
    }
    
    .FM-rbox16B > a {
        display: block;
        width: 147px;
        height: auto;
        position: relative;
        margin: 0 auto;
        background-color: #e5e5e5;
        color: inherit;
        border: 0px solid #e5e5e5;
    }
    
    .FM-rbox16B a {
        display: block;
        
        color: #3e81c6;
    }
    
    .FM-rbox16B h2 {
        text-align: center;
        padding-top: 3px;
        width: 147px;
        margin: 0 auto;
        white-space: normal;
        overflow: hidden;
    }
    
    .FM-rbox16B img {
        width: 147px;
        display: block;
        max-height: 150px;
    }
    
    .FM-rbox16C {
        width: 147px;
    }
    
    .FM-rbox16C img {
        display:block;
        width: 147px;
        height: auto;
        position: relative;
    }
    
    .FM-rbox16C h2 {
        width: 147px;
        height: auto;
        clear: left;
        overflow: hidden;
    }
    
    .FM-rbox16C h2 > a{
        display: block;
        text-align: center;
        position: relative;
        top: 30px;
        min-height: 70px;
        height: auto !important;
        /*text-shadow: 1px 1px 0px rgba(27,79,115,1);*/
    }
    
    .FM-rbox16B h2 > a:hover {
        color: #38F3FF;
    }

    
    .FM-rbox16C li {
        display: block;
        overflow: hidden;
        border-bottom: 1px solid #e5e5e5;
        padding: 5px 0;
        
    }
    
    /*留言區*/
    .FM-msgbg, .FM-cbox10A {
        font-family: "Noto Sans Mono CJK TC";
        /*letter-spacing: 0.2px;*/
        font-size: 14px;
    }
    
    .FM-msgbg > .FM-cbox10A:hover{
        background: linear-gradient(90deg,#2e3136 60%,#36393E);
    }
    
    .FM-msgbg a {
        color: #FFFFFF;
    }
    
    .FM-msgbg p:first-child {
        background-image: none;
        padding-top: 0px;
    }
    
    .BH-list1 li {
        border-bottom: 0px solid #1E2124;
        padding: 3px 0px 3px 12px;
        background: url(http://i2.bahamut.com.tw/icon_blue.gif) no-repeat left 8px;
        filter: hue-rotate(180deg);
        -webkit-filter: hue-rotate(180deg);
    }
    
    .BH-list1 a  {
        color: #FF6D2C;
        text-decoration: none;
    }
    
    .BH-list1 a:hover  {
        color: #FFFFFF;
        background: linear-gradient(90deg,#2e3136 60%,#36393E);
        text-decoration: none;
    }
    
    /* 討論區文章列表 */
    
    .FM-sticky {
        background-color: #483F3F !important;
        
    }/*置頂文章*/
    
    .FM-blist .new_res {
        color: #FF7777;
        
    }/*某種重要的文章吧?_連結設定*/
    
    .FM-daco {
        color: #FF7777 !important;
    } .FM-daco:visited {
        color: #BE4040 !important;
    } .FM-daco:hover {
        color: #FFFFFF !important;
    }/* 達人文章_連結設定 */
    
    .FM-blist1 .gplist {
        left: 1px;
        top: 20px;
        width: 76px;
        padding: 0px 0px 6px 0px !important;
        background-color: #3F4248 !important; 
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        /* 模糊浮出 */
        opacity:0;  /* make things invisible upon start */        
        animation:fadeIn ease-in 1;
        animation-fill-mode:forwards;
        animation-duration:0.2s;
        animation-delay: 0s;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    } .gplist > a:link, .gplist > a:visited {
        color: #D3DDF1 !important;
        width: 100%;
        text-indent: 10px;
    } .gplist > a:hover {
        color: #FFFFFF!important;
        background: linear-gradient(0deg,#383E43 0%,#1E2124 60%, #383E43 100%);
    }/* GP 推薦選單*/
    
    .FM-blist td {
        border-bottom: 0px !important;
        padding: 0px !important;
    }
    
    .FM-blist1, .FM-blist1:hover {
        color: #FFFFFF;
        background: linear-gradient(0deg,#1E2124 30%,#383E43) !important;
        text-align: right;
    }/* 列表的項目標題 (第一列) */
    
    .FM-blist {/*table*/
        border: 0;
        border-radius: 20px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        margin-bottom: 15px;
        line-height: 20px;
        background-color: #3F4248;
        font-size: 12px;
    }

    .FM-row {
        background-color: transparent !important;
    }
    
    .FM-blist tr {
        height: 38px !important;
    }
    
    .FM-blist tr:hover a{
        /*background: linear-gradient(90deg,#2e3136 60%,#36393E);*/
        color: #FFFFFF;
    }
    .FM-blist tr:hover {
        /*background-color: #2666BC !important;*/
        background: linear-gradient(90deg,#2e3136 60%,#36393E);
        color: #FFFFFF; 
    }
    
    .FM-blist a {/*table*/
        color: #85878D;
    }
    
    .FM-blist tr, .FM-sticky {
        height: 38px ;
        
    }
    
    .FM-blist td {
        border-bottom: 0px solid #e5e5e5;
        padding: 5px;
        
    }
    
    .FM-blist3 {
        white-space: nowrap;
        overflow: hidden;
    }
    
    .FM-blist3 a {
        text-indent: 2px;
        display: inline-block;/*!!!! inline-block + white-space: nowrap*/
        margin-right: -116px;/*這個還要多多注意_改*/
        /*http://www.puritys.me/docs-blog/article-259-移除-CSS-inline-block-空白.html*/
        width: 100%;
        height: 38px;
        vertical-align: middle;
        font-size: 16px;
        line-height: 36px;
    }
    
    .FM-blist3 > span {/*標題文章頁數前面的符號*/
        font-size:0;
        visibility: hidden;
        position: relative;
        top: 12px;
        right: 40px;
        /*幹這個部分快把我搞死了，不過是用個 Block*/
    }
    
    .FM-blist3 > span > a {/*標題文章頁數*/
        visibility: visible;
        display:inline;
        margin-left: 1px;
        font-size: 10px;
        font-weight: bold;
        color: #BDC0C8;
    }
    
    .FM-blist3 > span::before{/*標題文章頁數*/
        visibility: visible;
        display:inline;
        font-size: 10px;
        content:"✈️跳至 ";
        vertical-align: middle;
        color: #C0C0C0;
    }
    
    .FM-blist3 > span::after{/*標題文章頁數*/
        visibility: visible;
        display:inline;
        font-size: 10px;
        content:"頁";
        vertical-align: middle;
        color: #C0C0C0;
    }
    
    .FM-blist3 > span > a::before{/*標題文章頁數*/
        content:"[";
    }
    
    .FM-blist3 > span > a::after{/*標題文章頁數*/
        content:"]";
    }
    
    .FM-blist4 {/*GP數*/
        
        color: #EBF400;
        text-align: right;
        width: 30px;
    }
    
    .FM-blist6 {
        border-right: 10px solid transparent;
    }/*在最後發表那整欄的右邊空一點點*/
    
    .FM-blist1 td:nth-child(4) {
        padding-right: 7px !important;/*配合 .FM-blist6 做的位移*/
    }
    
    .FM-blist6 a:first-child {/*文章時間*/
        color: #BDC0C8;
        display: block;
    }
    
    .FM-blist8 span {
        display: block;
        font-weight: bold;
        text-align: left;
        font-size: 30px;
        padding-top: 0px;
        padding-left: 20px;
    }
    
    .FM-abox5B span {
        line-height: 15px;
        font-size: 13px !important;
        color: #B4C1B3 !important;
        font-style: italic;
    }
    
    /*其他個別按鈕、ICON (通用按鈕設定在CSS最上面)*/
    /*filter: hue-rotate(180deg);
        -webkit-filter: hue-rotate(180deg); 偷懶作法*/
    
    
    
    #BH-pagebtn a {
        padding: 0px;
    }
    
    .BH-pagebtnA {
        width: 380px;
        display: inline-block !important;
        /*margin-left: -10px;*/
    }
    
    .BH-pagebtnA a{
        padding: 0 !important;
        border-radius: 40px !important;
        width: 40px;
        height: 40px;
        font-size: 20px !important;
        line-height: 35px  !important;
        border: 2px solid #232323 !important;
        background: none !important;
        color: #FFFFFF !important;
    } .BH-pagebtnA a:hover, .BH-pagebtnA .pagenow {
        background-color: #D25C42 !important;
    }/* 文章頁數按鈕_數字 */
    
    .prev {
        background: transparent url("https://raw.githubusercontent.com/hollen9/GamerBahamutThemes/master/images/prev.png") no-repeat center center !important;
        border:0 !important;
        height: 40px;
        width: 60px !important;;
        font-size: 0px !important;
        display: inline-block !important;
        float: left !important;
        /*line-height: 53px !important;*/
        /*position: relative;
        left: 48px;*/
        position: relative;
        left: 21%;
        top: 1px;
    } .prev:hover {
        background: transparent url("https://raw.githubusercontent.com/hollen9/GamerBahamutThemes/master/images/prev_hover.png") no-repeat center center !important;
    }
    
    
    .next {
        background: transparent url("https://raw.githubusercontent.com/hollen9/GamerBahamutThemes/master/images/next.png") no-repeat center center !important;
        border:0 !important;
        height: 40px;
        width: 60px;
        font-size: 0px !important;
        display: inline-block !important;
        float: right !important;
        /*line-height: 53px !important;*/
        /*
        left: 352px;*/
        /*margin-right: -100px;*/
        position: relative;
        left: -21%;
        top: 1px;
    } .next:hover {
        background: transparent url("https://raw.githubusercontent.com/hollen9/GamerBahamutThemes/master/images/next_hover.png") no-repeat center center !important;
    }
    
    #BH-pagebtn .no, #BH-pagebtn .no:hover, #BH-pagebtn .no:active {
        visibility: hidden;
        color: #DDD;
        background: none;
        background-color: transparent;
        filter: none;
        border-color: #e5e5e5;
    }/* 文章頁數按鈕_箭頭_disabled 的情形*/
    
    .FM-lbox1 {
        min-height: 40px;
    }
    
    .FM-lbox1 button {
        color: #FFFFFF;
        /*margin-left: 390px;文章列表的中間位置*/
        /*margin-left: 457px;整個頁面的中間位置*/
        height: 30px;
        position: fixed;
        top: auto;
        bottom: 10px;
        right: 5px;
    } .FM-lbox1 button:active {
        /*與通用按鈕的按下相對位移效果抵銷*/
        position: fixed !important;
        top: auto;
        bottom: 9px;
    }/*回上方_back to top_修_浮動回上方按鈕*/
    
    /* 其他小東西_動漫電玩通(riddle)_詳細設定 (其實很多都在前面定義好了) */
    .BH-qabox1 {
        padding: 22px 0 0 0;
        /*padding-top: 22px;*/
    }/* .BH-qabox1::before {
        font-size: 18px;
        content:"ℹ️";
    }*/
    
    .BH-qabox1 img {
        width: 140px;
    }
    
    .BH-qabox1 > ul {
        padding: 5px 0 10px 0px;
        border-bottom: 1px dotted #1E2124;
    }
    
    .BH-qabox1 > ul > li > a{
        text-indent: 3px;
        display: block;
        height: 20px;
    } .BH-qabox1 > ul > li > a:hover {
        background: linear-gradient(90deg,#2e3136 60%,#36393E);
    }
    
    .BH-qabox1 span {
        text-align: center;
        font-size: 0;
        line-height: 7px;
    } .BH-qabox1 span::before {
        font-size: 13px;
        content: "~出題者~\A";
        white-space: pre;
    }
    
    .BH-qabox1 span > a:nth-child(1) {
        display: block;
        font-size: 13px;
        font-weight: bold;
    }
    
    .BH-qabox1 span > a:nth-child(2) {
        font-size: 13px;
        display: block;
        padding-top: 15px;
        padding-bottom: 5px;
    } .BH-qabox1 span > a:nth-child(2)::before {
        content: "[";
    } .BH-qabox1 span > a:nth-child(2)::after {
        content: "這道題目]";
    }
    
    /* 討論板 > 精華區 */
    .FM-feature {
        background: url(https://raw.githubusercontent.com/hollen9/GamerBahamutThemes/master/images/quin_b.png) no-repeat right top;
    }
    .FM-stb1 {
        border: 0;
        border-radius: 20px;
        background-color: #3F4248;
    }
    
    .FM-stb1 tr:first-child, .FM-stb1 tr:first-child:hover {
        background: none;
    }
    
    .FM-stb1 tr:first-child td:nth-child(1), .FM-stb1 tr:first-child td:nth-child(2), .FM-stb1 tr:first-child td:nth-child(3), .FM-stb1 tr:first-child td:nth-child(4), .FM-stb1 tr:first-child td:nth-child(5){
        height: 30px;
        border: 0;
        font-size: 13px;
        margin-bottom: 10px;
        background: linear-gradient(0deg,#1E2124 30%,#383E43) !important;
    }/* 列表的項目標題 (第一列)，之所以不用 TR 都是為了圓角 (只能套用到 TD) */
    
    .FM-stb1 tr:first-child td:nth-child(1) {
        border-top-left-radius: 20px;
    }
    .FM-stb1 tr:first-child td:nth-child(5) {
        border-top-right-radius: 20px;
    }
    
    .FM-stb1 td {
        border: 0;
        padding: 0;
        min-width: 50px;
        white-space: nowrap;
        height: 30px;
    }
    
    .FM-stb1 strong {
        padding-left: 470px;
    } /*NEW TEXT*/
    
    .FM-fav a::before {
        font-size: 15px;
        content: "🏠";
    }
    
    .FM-stb1 td a{
        display: inline-block;/*與white-space互為父子*/
        margin-left: -68px;/*X軸位置修正，inline-block 會造成寬度計算錯誤*/
        margin-top: -6px;
        text-indent: 68px;
        width: 850px;
        position: absolute;
        height: 30px;
        color: #9CB8B9;
        line-height: 28px;
        /*這邊用的方式是直接讓連結浮在 TR 上，就可以上整排都變成可點選連結了。*/
    } .FM-stb1 td a:hover{
        color: #FFFFFF;
    }
    
    .FM-stb1 tr:nth-child(2n+1) {
        background-color: transparent;
    }
    
    
    .FM-stb1 tr:hover {
        background: linear-gradient(90deg,#2e3136 60%,#36393E);
        color: #FFFFFF; 
    }
    
    
    
    /* 其他小東西_評分 */
    .ACG-score {
        width: 105px;
        height: 105px;
        border-radius: 105px;
        -webkit-border-radius: 105px;
        border: 10px solid #F98933;
        float: left;
        margin: 15px 5px 0 5px;
        font-size: 50px;
        line-height: 100px;
        color: #F98933;
        text-align: center;
        position: relative;
    }
    .ACG-score span {
        width: 100%;
        position: absolute;
        left: 0px;
        bottom: 15px;
        color: #AF6023;
        font-size: 12px;
        line-height: 12px;
    }
    .ACG-rbox4B {
        font-size: 15px;
        color: #D9772C;
        text-align: center;
        line-height: 30px;
        padding: 8px 0;
        clear: both;
    }
    .ACG-persent span {
        font-size: 15px;
        color: #B46325 !important;;
        font-family: Helvetica, Arial, sans-serif;
        line-height: 27px;
    }
}